<header class="header"><h1>Sobre:</h1></header>
<section>
<ul>
<li>
- Sistema com as operações essenciais no desenvolvimento de sistemas, criado na versão 19.2.6. do Angular e usando as novas diretivas e Signals e derivados para a latência dos dados.
</li>
<li>    
- Componentizado
</li>
<li>    
- Tematização 100% em scss, sem necessidade de nenhuma biblioteca externa para formatação do layout.
</li>
<li>
- Responsivo, via tagueamento correto e flexbox, a estrutura simples e direta tambem dispensou o uso de media queries(que seriam usadas caso necessário)
</li>
<li>    
    - Icones no formato json animados e integrados ao projeto, componentizado de forma a facilitar o uso e manter a funcionalidade sempre coesa.
</li>
<li>    
   
    - Simulador de serviço para facilitar o teste, com delay intencional e configurável, a fim de simular as views de loading, animadas 100% via css
</li>
</ul>   
<h2>Como rodar o projeto:</h2>   
<p>Primeiro, instale o Angular CLI, caso não tenha instalado ainda:</p>   
<p>
<strong>ng serve</strong>
</p>
<p>   
   A url de destino é a `http://localhost:4200/`. copie e cole no navegador, ou ctrl+click no terminal
</p>   
<p>
   os testes são os padrões, confesso que não me aprofundei muito, pra rodar é o:
</p>   
<p>
<strong>ng test</strong>

</p>
<p>
   mais informações na pagineta (<a href="https://angular.dev/tools/cli" target="_blank">https://angular.dev/tools/cli</a>), ou no <a href="https://www.google.com/" target="_blank">google</a>, ou na sua IA favorita (dizem que no TikTok tem, nunca tentei. rsrs).<br>
   vamo que vamo. =)
</p>
<nav>
    <button routerLink="/" type="button">
        <aIcon [icon]="'undo'" [texto]="'Voltar'"></aIcon>
    </button>
</nav>
</section>
