$cor-fundo: #fbfef4;
$cor-primaria:#6669ee;
$cor-secundaria:#b69dee;
$cor-3:#d4dcfa;
$cor-neutra:#5F5F5F;
$cor-contraste:#fff;
$cor-sucesso:#4CBB51;
$cor-falha:#E26352;

$logo-principal: url('./imagens/logoKtips.png');
$border:1px solid rgba($cor-primaria, 0.5);
$border-radius: 13px;
$shadow1: 10px 10px 0px 0px $cor-secundaria;
$shadow2: 4px 4px 0px 0px $cor-3;

